ion-icon {
    font-size: 220px; 
    size: 200px; //Preferred size here
}
ion-toolbar
{

    --background: #488aff;
}
ion-card{
    --background: #ffffff;
    
}
ion-content
{
    --background: # ;
}
.avatars img{
    margin: auto;
}

.icon-happy-init
{
    color: #08d445;
}

.icon-good-init
{
    color: #d4c42e;
}
.icon-sad-init
{
    color: #f30c0c;
}